.albumImage{
    width: 80%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.albumImage img{
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}
.albumImage-shadow{
    -webkit-filter: blur(10px);
    filter: blur(10px);
    width: 90%;
    position: absolute;
    z-index: -1;
    top: 20px;
}