a{
    text-decoration: none !important;
}
.btn-body{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #c8b6e2f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color:  rgba(168, 166, 223, 0);
}
.btn-body.active{
    background-color:  rgba(168, 166, 223, 1);
    color:   #495C83;
    transform: scale(1.05);
}
.btn-body:hover{
    color: white;
}
.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}