.widgetcard-body{
    position: relative;
    width: 24%;
    height: 74%;
    border-radius: 30px;
    background: radial-gradient(ellipse at 15% 85%,#495c83, #7774be, #c8b6e2);
    padding: 1% 3%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.widgetcard-body:hover{
    transform: scale(1.05);
}
.widget-title{
    font-size: 18px;
    font-weight: 800;
    color: #e5daf5;
}
.widget-fade{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 84%;
    height: 34%;
    border-radius: 30px;
    background: radial-gradient(ellipse at 95% 5%,#495c83, #7774be, #c8b6e2);
   opacity: 0;
   transition: 0.5s ease-in-out;
   animation: none;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   padding: 8%;  
}
.widgetcard-body:hover .widget-fade{
    opacity: 1;
}